BOT_TOKEN=your_telegram_bot_token_here

POSTGRES_DSN=postgresql_url

BACKEND_HOST=127.0.0.1
BACKEND_PORT=8000
BACKEND_BASE_URL=http://127.0.0.1:8000

GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_REDIRECT_URI=http://127.0.0.1:8000/auth/callback

STATE_SECRET=your_long_random_secret_here

LOG_FILE=bot.log